<div class="card border border-secondary-subtle rounded p-0 shadow" [ngClass]="bin().color">
  <div class="card-header align-items-center p-2 {{textColor()}}"
    style="cursor: p; font-size: 24px !important; font-weight: 600;" (click)="onEmit()">
    @if(bin().img) {
      <div class="col-12">
        <img [src]="bin().img" class="w-100 rounded img-base">
      </div>
    }
    {{bin().title}}
  </div>
  <div class="card-body pt-0 p-2" style="cursor: p;" (click)="onEmit()">
    <p class="card-text {{textColor()}}">{{bin().content}}</p>
  </div>
  <div class="position-relative card-footer mb-0">
    <div class="row px-2">
      <div class="col-2 py-1 d-flex justify-content-center align-items-center position-relative rounded"
      (click)="$event.stopPropagation(); isrestored.set(false); deleteBin(bin());" style="cursor: pointer;"
      data-bs-toggle="tooltip" data-bs-placement="top"  title="Borrar Nota Permanentemente">
        <i class="fa-solid fa-trash {{textColor()}}" style="font-size: 16px !important;"></i>
      </div>
      <div class="col-2 py-1 d-flex justify-content-center align-items-center position-relative rounded"
       (click)="$event.stopPropagation(); isrestored.set(true); deleteBin(bin());" style="cursor: pointer;"
       data-bs-toggle="tooltip" data-bs-placement="top"  title="Restaurar Nota">
        <i class="fa-solid fa-trash-can-arrow-up {{textColor()}}"></i></div>
    </div>
  </div>
</div>
