.card-header, .card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 500 !important;
}


.card-body, .card-header, .card-footer {
  background-color: transparent !important;
  border: none !important;
}

.card-footer .col-2:hover {
  background-color: color-mix(in srgb, var(--bs-secondary-bg-subtle) 50%, transparent) !important;
}

/* --- img --- */
.img-base {
  max-height: 160px !important;
  overflow: hidden;
  background-color: transparent;
  object-fit: contain;
}
