:host {
  display: block !important;
  position: absolute;
  top: 100%;     /* Se pega justo abajo del icono */
  left: 240%;     /* Se alinea al centro del icono */
  width: 0;
  height: 0;
  z-index: 1200;
}

/* 🌟 Centramos el recuadro de dos filas exactamente debajo de la paleta */
.recuadro-paleta {
  transform: translateX(-50%); /* Desplaza el menú hacia la izquierda la mitad de su propio ancho para centrarlo */
}

.selectC {
  display: inline-block !important;
  width: 20%;
  margin: 2px;
  height: 20px !important;
}


.colorActivo {
  transform: scale(1.25); /* Lo hace notar notablemente más grande */
  box-shadow: 0 0 0 3px #ffffff, 0 0 8px 3px rgba(0, 0, 0, 0.35) !important;
}
