a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px !important;
  font-weight: 600 !important;
}
i{
  margin-right: 8px;
}

a:hover {
  background-color: var(--bs-secondary-bg-subtle);
}
