.card-body {
  max-height: 300px !important;
  overflow: hidden !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;       /* 🔢 Corta el texto y pon los "..." exactamente en la línea 6 (Ajusta el número a tu gusto) */

  white-space: pre-wrap;       /* Mantiene tus saltos de línea de forma ordenada */
  word-break: break-word;

}

.card-header, .card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}


.card-body, .card-header, .card-footer {
  background-color: transparent !important;
  border: none !important;
}

/* --- img --- */
.img-base {
  max-height: 160px !important;
  overflow: hidden;
  background-color: transparent;
  object-fit: cover;
}
